@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    top: 0;
    left: 0;
    background: #102250;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}
#root {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
